<!DOCTYPE html>
<html>
<head>
  <title>NLP Web Tool</title>
  <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
  <h1>Welcome to the NLP Web Tool</h1>

  <form id="analysis-form">
    <label for="url">Enter URL for Analysis:</label>
    <input type="url" id="url" name="url" required>
    <button type="submit">Analyze</button>
  </form>

  <div id="loading" style="display:none;">Analyzing...</div>

  <div id="error-message" style="display:none;"></div>

  <div id="results" style="display:none;">
    <h2>Analysis Results:</h2>
    <div id="polarity"></div>
    <div id="subjectivity"></div>
    <div id="text-snippet"></div>
  </div>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script src="index.js"></script>
  
</body>
</html>
